.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1rem;
  align-items: flex-start;
  justify-content: center;
  & > * {
    margin: 1rem;
    padding: 1rem;
  }
}

.error {
  color: crimson;
}
